.openedChatTop{
  display: flex;
  flex-direction: row;
  height: 73px;
  width: 70vw;
  border: 1px solid rgb(59, 59, 59);
}
.openedChatImg{
  margin: 20px 20px 0px 20px;
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
.openedChatText{
  color: white;
  margin: 0px 0px 10px 0px;
  font-size: medium;
}
.state{
  opacity: 0.4;
}
.openedChatState{
  color: rgb(137, 137, 137);
}

.openedChatTextsContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

.openedChatLastMessage {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wholeMessagesScreen{
  /* background-color: blue; */
}
